<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Portfolio Bruno Mendonça Gusmão</title>
</head>
<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <id class="profile">
            <img src="../static/img/foto_bruno.jpg" alt="foto de perfil"> 
            <h1>Bruno Mendonça Gusmão</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://linkedin.com/in/brunogusmão">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/BrunoDev2003">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="mailto:brunogusmao43@gmail.com">
                    <i class="bi bi-envelope"></i>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
            <!-- <button type="button" id="lang-btn" aria-label="EN/PT">Trocar para inglês</button>  --> 
                <li class="nav-item">
                    <a class="nav-link" id="inicio" href="#inicio">Inicio
                        <i class="bi bi-house-door-fill"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sobre_" href="#sobre">Sobre
                        <i class="bi bi-person-square"></i>
                    </a>
                </li>
                <li class="nav-item" id="habilidades_">
                    <a class="nav-link" href="#habilidades">Habilidades
                        <i class="bi bi-list-check"></i>
                    </a>
                </li>
                <li class="nav-item" id="Curriculo_">
                    <a class="nav-link" href="#curriculo">Currículo
                        <i class="bi bi-file-earmark-arrow-down-fill"></i>
                    </a>
                </li>
                <li class="nav-item" id="Portfolio_">
                    <a class="nav-link" href="#portfolio">Portfólio
                        <i class="bi bi-collection-fill"></i>
                    </a>
                </li>
                <li class="nav-item" id="Contato_">
                    <a class="nav-link" href="#contato">Contato
                        <i class="bi bi-telephone-fill"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Bruno Mendonça Gusmão</h2> 
                <span id="subtitle" class="text-white" data-original="Desenvolvedor Java Spring, Bacharelado em Sistemas de Informação">Desenvolvedor Java Spring, Bacharelado em Sistemas de Informação</span>
            </div>

            <div class="col-md-7 d-flex justify-content-center align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2"
                    aria-hidden="true"></i>
                    <a href="#sobre" id="arraste">Arraste para mais</a>
                </div>
            </div>

        </section>

        <section class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-5" id="sobre">Sobre</h2>
                    <p id="about-description">
                        Na Meta, contribuí significativamente para o desenvolvimento de produtos SAP, 
                        utilizando linguagem ABAP e aprimorando interfaces com o uso de Fiori Elements e S/4HANA. 
                        Minha abordagem ao desenvolvimento Restful com SAP RAP e manipulação de dados em XML e DDL, 
                        juntamente com a criação de relatórios ALV e CDS Views, reflete meu compromisso com a excelência e a inovação.
                        Atualmente, estou focando em uma carreira como desenvolvedor fullstack Java, 
                        sou graduado a nível bacharelado em Sistemas de Informação na Unipar, 
                        o que tem aprimorado minha habilidade em programação orientada a objetos, 
                        e trabalhando como freelancer em projetos pessoais acabei aprimorando minhas habilidades em tecnologias web como
                        Java Spring e React.JS, a busca constante por conhecimento e a proatividade em 
                        resolver problemas complexos são o motor que impulsiona minha carreira na área de TI, 
                        foco em desenvolver projetos fullstack e trabalhar no front e back de cada projeto para maximizar meu aprendizado em
                        desenvolvimento de sistemas e segurança dos mesmos.
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/brunofoto2.jpg" alt="foto_perfil" >
                </div>
                <div class="col-md-8" >
                    <h3 id="col-md-8_h3">Densenvolvedor de Software</h3>
                    <p id="bacharel">Bacharel de Sistemas de Informação - UNIPAR - Umuarama</p>

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item" aria-current="true" id="list-group-item">
                                    Nascimento: <span class="fw-lighter" id="birthday" data-translate="birthday">01 de Julho de 2003</span>
                                </li>
                                <li class="list-group-item" id="list-group-item-age">
                                    Idade: <span class="fw-lighter">21</span>
                                </li>
                                <li class="list-group-item" id="cidade">
                                    Cidade: <span class="fw-lighter">Umuarama</span>
                                </li>
                                <li class="list-group-item" id="estado">
                                    Estado: <span class="fw-lighter">Paraná</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item" aria-current="true">
                                    Hobby: <span class="fw-lighter">Videogames</span>
                                </li>
                                <li class="list-group-item">
                                    Github: <span class="fw-lighter"> <a href="https://github.com/BrunoDev2003" 
                                            target="_blank"
                                            class="fw-lighter text-decoration-none 
                                            link-dark">link.github</a> </span>
                                        
                                </li>
                                <li class="list-group-item" id="list-group-item-universidade">
                                    Universidade: <span class="fw-lighter" id="span-universidade" data-translate="span-universidade"> Unipar - Umuarama - Sistemas de Informação <a href="https://presencial.unipar.br/curso/graduacao/sistemas-de-informacao2/umuarama/presencial"
                                        target="_blank"
                                        class="fw-lighter text-decoration-none
                                        link-dark">link.unipar</a> </span>
                                </li>
                                <li class="list-group-item">
                                    Linkedin: <span class="fw-lighter"> <a href="www.linkedin.com/in/brunogusmão"
                                        target="_blank"
                                        class="fw-lighter text-decoration-none
                                        link-dark">link.linkedin</a> </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p id="historico"> Trabalhei na area como estágiario remoto desenvolvedor de software SAP ABAP na <a href="https://www.meta.com.br/">Meta Serviços em Informatica</a> , autalmente estou migrando para carreira de desenvolvedor Java Spring.
                    </p>
                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>  
                <p>Todas as habilidades que adquiri na pratica através de cursos, minha faculdade de sistemas ou até mesmo em projetos pessoais que comprovam as habilidades abaixo,
                    em que os mesmos estão todos no meu Github.
                </p>

                <div class="row">
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-8">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                            </div>
                                <p class="mt-3 mb-8">CSS</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                    </div>
                                        <p class="mt-3 mb-8">JavaScript</p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                            </div>
                                                <p class="mt-3 mb-8">ReactJS</p>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                                    </div>
                                                        <p class="mt-3 mb-8">JAVA</p>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                                                            </div>
                                                                <p class="mt-3 mb-8">NodeJS</p>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                                    </div>
                                                                    <p class="mt-3 mb-8">Python</p>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                                    </div>
                                                                    <p class="mt-3 mb-8">Git</p>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">95%</div>
                                                                    </div>
                                                                    <p class="mt-3 mb-8">Deploy</p>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                                    </div>
                                                                    <p class="mt-3 mb-8">Flask</p>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                                    </div>
                                                                    <p class="mt-3 mb-8">SQL</p>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                                                    </div>
                                                                    <p class="mt-3 mb-8">NoSQL</p>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                                    </div>
                                                                    <p class="mt-3 mb-8">Spring</p>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                                                                    </div>
                                                                    <p class="mt-3 mb-8">SpringBoot</p>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                                    </div>
                                                                    <p class="mt-3 mb-8">ABAP - SAP</p>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                                    </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </section>
        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Curriculo</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title" id="educacao" data-translate="educacao">Educação</h3>
                        <div class="cv-item" >
                            <h4 id="curso" data-translate="curso">Bacharelado de Sistemas de Informação</h4>
                            <h5 id="ano" data-translate="ano">2021 - 2024</h5>
                            <p id="uni" data-translate="uni"><em> Unipar - Universidade Paranaense</em></p>
                            <p id="descricao-curso" data-translate="descricao-curso">
                                O bacharel em Sistemas de Informação me deu conceitos e muito aprendizado e prática em desenvolvemento, manutenção e admnistração de sistemas.
                            </p>
                        </div>
                        <div class="cv-item" >
                            <h4 id="robotica" data-translate="robotica">Robótica com Arduino</h4>
                            <h5>2018 - 2019</h5>
                            <p id="happycode" data-translate="happycode"><em> Happy Code  - Umuarama</em></p>
                            <p id="sobre-robotica" data-translate="sobre-robotica">
                                O meu primeiro contato oficial com a programação foi com a Happy Code Umuarama, 
                                escola de programação onde faziamos o curso de Róbotica com arduino e desnevolviamos varios projetos 
                                na prática com a linguagem C++.
                            </p>
                        </div>
                        </div>
                        </div>
                        <h3 id="experiencia" data-translate="experiencia">Experiências</h3>
                        <div class="cv-item" >
                            <h4 id="estagio" data-translate="estagio">Estágiario de desenvolvimento SAP ABAP.</h4>
                            <h5 id="tempo" data-translate="tempo">jun - 2023 até dez - 2023</h5>
                            <p id="estagio_descr" data-translate="estagio_descr"><em> Na Meta, contribuí significativamente para o desenvolvimento de produtos SAP, utilizando linguagem ABAP e aprimorando interfaces com o uso de Fiori Elements e S/4HANA. Minha abordagem ao desenvolvimento Restful com SAP RAP e manipulação de dados em XML e DDL, juntamente com a criação de relatórios ALV e CDS Views, reflete meu compromisso com a excelência e a inovação.</em></p>
                        </div>
                        <div class="cv-item" >
                            <h4 id="prof" data-translate="prof">Professor de Informática Básica</h4>
                            <h5>2021 - 2022</h5>
                            <p id="prof_descr" data-translate="prof_descr"><em> Associação de Assistência aos Surdos de Umuarama.</em></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section class="portfolio" id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5">

                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                    <img src="../static/img/chathub_front_FINAL_entrega.png" class="card-img-top" alt="Projeto pessoal">
                                    <div class="card-body">
                                        <h5 class="card-title">ChatHub</h5>
                                        <p class="card-text">Chathub é um sistema de mensageria desenvolvido com Java Spring como backend, REDIS como BD não relacional, e React.JS para o frontend, para ver cada detalhe do desenvolvimento, código e manual de instalação clique neste card para o link do repositório do projeto.</p>
                                        <a href="https://github.com/BrunoDev2003/ChatHub-Frontend.git">ChatHub - Frontend</a>
                                        <a href="https://github.com/BrunoDev2003/ChatHub.git">ChatHub - Backend</a>
                                    </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Java_project.jpg" class="card-img-top" alt="Projeto pessoal">
                                        <div class="card-body">
                                            <h5 class="card-title">KizunaTech</h5>
                                            <p class="card-text">Um projeto CRUD fullstack, desenvolvido completamente em Java, como o DBeaver como a ferramenta universal de banco de dados, e firebird como o Banco de Dados.</p>
                                            <a href="https://github.com/BrunoDev2003/Sistema2022-Sistema-facul">KizunaTech</a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                        <img src="../static/img/animeflix_img.png" class="card-img-top" alt="Projeto pessoal">
                                        <div class="card-body">
                                            <h5 class="card-title">Animeflix</h5>
                                            <p class="card-text">Um projeto feito em React JS, com o objetivo de fixar o aprendizado de desenvolvimento com REACT JS e a pratica com o JSX e componentes, o projeto é basicamente um clone do netflix.</p>
                                            <a href="https://animeflix-theta-one.vercel.app/">Animeflix</a>
                                        </div>
                                        </div>
                                    </div>
                                <div class="col">
                                    <div class="card">
                                    <img src="../static/img/geekecommerce_img.png" class="card-img-top" alt="Projeto Pessoal">
                                    <div class="card-body">
                                        <h5 class="card-title">GeekEcommerce</h5>
                                        <p class="card-text">Projeto feito em REACT JS, apresenta a parte front-end de um Ecommerce de camisetas de estilo geek, como por exemplo, camisetas de super-herois</p>
                                        <a href="https://geek-ec-ommerce3.vercel.app/">GeekEcommerce</a>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                </div>
                                </div>
                        </div>
                        <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                    <div class="card">
                                    <img src="../static/img/loja_imovi_img.png" class="card-img-top" alt="Projeto pessoal">
                                    <div class="card-body">
                                        <h5 class="card-title">Loja Imovi</h5>
                                        <p class="card-text">Front end de uma loja de imoveis feita com HTML 5, CSS 3 e JS, e Bootstrap</p>
                                        <a href="https://github.com/BrunoDev2003/Loja_Imovi_Boostrap.git">Loja Imovi</a>
                                    </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                    <img src="../static/img/logo_kcal..svg" class="card-img-top" alt="Projeto pessoal">
                                    <div class="card-body">
                                        <h5 class="card-title">Calculadora de calorias com Javascript e Node js</h5>
                                        <p class="card-text">Uma calculadora de calorias usando Javascript e o servidor de node para rodar a aplicação em qualquer maquina, apenas use" npx serve ." no seu terminal após clonar este repositorio para rodar a aplicação no seu computador.</p>
                                        <a href="https://github.com/BrunoDev2003/Calculadora-de-calorias-com-Javascript-e-Node-js.git">Calculadora de Calorias</a>
                                    </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                    <img src="../static/img/dinosaur_game_img.png" class="card-img-top" alt="Projeto Pessoal">
                                    <div class="card-body">
                                        <h5 class="card-title">Jogo do dinosauro sem internet</h5>
                                        <p class="card-text">Um dos meus primeiros projoetos, um jogo do dinosauro sem internet classico, feito com HTML 5, CSS 3 e JS</p>
                                        <a href="https://github.com/BrunoDev2003/Jogo-do-dinossauro-sem-internet.git">Jogo do dinosauro sem internet</a>
                                    </div>
                                    </div>

                                </div>
                                </div>
                                </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                </div>
            </div>

        </section>
        <section class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4 id="local" data-translate="local"><i class="bi bi-geo-alt"></i>Localização:</h4>
                                <p>Umuarama, Paraná</p>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i>Email:</h4>
                                <p>brunogusmao43@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card pb-5 h-100 shadow border-0">
                        <form class="row g-3">
                            <div class="col-md-6">
                                <label for="nome class="form-label">Nome:</label>
                                <input type="email" class="form-control" id="nome" placeholder="digite seu Nome">
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" nome="email" placeholder="Digite seu E-mail"></input>
                            </div>
                            <div class="col-12">
                                <label for="text" class="form-label">Mensagem: </label>
                                <textarea type="text" class="form-control" name="mensagem" id="mensagem" cols="30" rows="10"placeholder="envie sua mensagem"></textarea>
                            </div>

                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-outline-primary">Enviar Mensagem</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                !Aviso, o sistema de mandar emails ainda está sendo trabalhado.
            </div>
        </section>
    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                Copryright &copy; 2025 <strong>Bruno Mendonça Gusmão.</strong> Todos direitos reservados.
            </div>
        </div>

    </footer>
    <script src="../static/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../static/script.js"></script>
    
</body>
</html>